/* div {
    border: 1px solid black;
} */

header {
    border: 1px solid black;
}

footer {
    float: top;
    border: 1px solid black;
}

#variables {
    float: left;
    display: flex;
    height: inherit;
    flex-direction: column;
    width: 350px;
    height: inherit;
    overflow-y: auto;
}

#rightBlock {
    height: 600px;
    width: auto;
    overflow: hidden;
    position: relative;
}

.variable {
    min-height: 140px;
    display: flex;
    align-items: center;
    padding-left: 3%;
    position: relative;
}

#main {
    height: 600px;
    width: 100%;
}

.variable .equalSign {
    margin-left: 5px;
}

.variable .matrixBlock {
    margin-left: 5px;
}

.variable .matrixBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px dashed rgb(0, 0, 0);
    width: 150px;
    height: 100px;
}

.fraction {
    margin: 2px;
    margin-top: 4px;
}

.variable .matrixBlock .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.variable .augmentedZone {
    border-top: 2px dashed rgb(0, 0, 0);
    border-bottom: 2px dashed rgb(0, 0, 0);
    border-right: 2px dashed rgb(0, 0, 0);
    height: 100px;
    width: 25px;
    display: flex;
    align-items: center;
}

.variable .augmentedZone .augmentedButton {
    width: fit-content;
    width: fit-content;
}

.variable .deleteVariableButton {
    position: absolute;
    right: 5px;
    top: 5px;
    border-radius: 50px;
}

.addVariableButtonContainer {
    text-align: center;
    margin-top: 5px;
}

.resultBlock {
    position: absolute;
    left: 42%;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30%;
}

.input {
    position: absolute;
    left: 42%;
    width: 400px;
    top: 20%;
}